<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="./main.css"/>
</head>
<body>
<div class="site-header" role="header">

</div>

<div class="site-content" role="main">
    <div role="banner" class="banner grid-container cf">
        <div class="main-banner  grid-two-third">
            <img src="./hp-banner-1009.png" alt="" class="main-banner-img"/>
            <div class="banner-meta">
                <dl class="">
                    <dt class="banner-meta-title">为何百万用户选择点融</dt>
                    <dd class="banner-meta-value">投资极度分散</dd>
                    <dd class="banner-meta-value">利息自动复投</dd>
                    <dd class="banner-meta-value">稳定高收益</dd>
                    <dd class="banner-meta-value long">期限灵活，随时可取</dd>
                    <dd class="banner-meta-value">天天付息</dd>
                    <dd class="banner-meta-value">安全透明</dd>
                </dl>
                <a href="#" class="banner-meta-reg" role="button">立即注册</a>
            </div>
        </div>
        
        <div class="side-banner grid-third">
            <a href="#">
                <img src="./1444988286270.jpg" alt=""/>
            </a>
        </div>
      
    </div>
</div>

</body>
</html>